.container {
    height: 93px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 0 50px;
    margin-top: 40px;
}
.logoContainer {
    width: 165px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #E2E8CE;
    padding: 10px 30px;
}
.phoneContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.photoIcon {
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #E2E8CE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone {
    font-size: 18px;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.phone:hover {
    color: #797979;
}
.logo {
    min-width: 105px;
    width: 105px;
    height: 73px;
}
.container svg {
    cursor: pointer;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
}
.popoverContent {
    max-width: 586px !important;
    overflow: auto;
    border: none !important;
    padding: 20px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.25) !important;
    border-radius: 12px !important;
}
/* .swiperBtn {
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 99999;
    width: 100px;
}
.leftBtn {
    justify-content: flex-start;
    left: 0;
    background: linear-gradient(92deg, #FFF 8.12%, rgba(251, 251, 251, 0.89) 31.72%, rgba(217, 217, 217, 0.00) 105.7%);
}
.leftBtn img {
    transform: rotate(180deg);
    margin-left: 15px;
}
.rightBtn {
    justify-content: flex-end;
    right: 0;
    background: linear-gradient(272deg, #FFF 8.12%,rgba(217, 217, 217, 0.00) 105.7%, rgba(251, 251, 251, 0.89) 31.72%);
}
.rightBtn img {
    margin-right: 15px;
} */
.popoverHeader {
    position: fixed;
    color: black;
    font-size: 25px;
    font-weight: 600;
}
.list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
}

@media screen and (max-width: 900px) {
    .container {
        padding: 0 25px;
        margin-top: 10px;
    }
    .photoIcon {
        width: 35px;
        min-width: 35px;
        height: 35px;
    }
    .phone {
        font-size: 15px;
    }
    .icon {
        width: 20px;
        min-width: 20px;
        height: 20px;
    }
}