.container {
    height: 93px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 0 50px;
    margin-top: 40px;
}
.logoContainer {
    width: 165px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #E2E8CE;
    padding: 10px 30px;
}
.phoneContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.photoIcon {
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #E2E8CE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone {
    font-size: 18px;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.phone:hover {
    color: #797979;
}
.logo {
    min-width: 105px;
    width: 105px;
    height: 73px;
}
.container svg {
    cursor: pointer;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
}

@media screen and (max-width: 900px) {
    .container {
        padding: 0 25px;
        margin-top: 10px;
    }
    .photoIcon {
        width: 35px;
        min-width: 35px;
        height: 35px;
    }
    .phone {
        font-size: 15px;
    }
    .icon {
        width: 20px;
        min-width: 20px;
        height: 20px;
    }
}