.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.routerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}
.routerTitle {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: #656565;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s ease;
}
.routerTitle:hover {
    color: black;
}
.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navItem {
    color: rgb(65, 65, 65);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer; 
    transition: all 0.3s ease;
}
.navItem:hover {
    color: #797979;
}

@media screen and (max-width: 430px) {
    .routerTitle {
        font-size: 11px;
    }
}