.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 50px;
    margin-top: 10px;
    position: relative;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.catalogBtn {
    padding: 10px 20px;
    background-color: #E2E8CE;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.catalogBtn:hover {
    background-color: #ccd2b0;
}
.catalogBtnText {
    font-weight: 600;
    font-size: 20px;
    color: black;
}
.categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.link {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    background: #EBEBEB;
    padding: 5px 15px;
    border-radius: 14px;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s ease;
}
.link:hover {
    background-color: #dedede;
}
.catLink {
    background-color: transparent;
    font-weight: 600;
    border-radius: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #EBEBEB;
}
.catLink:first-child {
    border-radius: 10px 10px 0 0;
}
.promotionLink {
    width: 100%;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bold {
    font-weight: 600;
}
.subcatLink {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #EBEBEB;
}
.subcatLink:last-child {
    border-radius: 0 0 10px 10px;
    border: none;
}
.catLink:hover, .subcatLink:hover {
    background-color: #EBEBEB;
}
.selectContainer {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 26px rgba(0,0,0,0.1);
    z-index: 9999;
}
.column {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
.column:first-child {
    background-color: #E2E8CE;
    border-bottom-left-radius: 10px;
}
.column:last-child {
    padding-top: 30px;
    width: 40%;
}
.catTitle {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.catTitle:hover {
    background-color: white;
}
.categoryImage {
    width: 75px;
    height: 50px;
    border-radius: 6px;
}
.subcategoryTitle {
    font-size: 20px;
    padding: 7px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
.subcategoryTitle:hover {
    color: #797979;
}
.linkBtn {
    width: 100%;
    padding: 0 40px;
    margin-top: 75px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kitchenBtn {
    background-color: #262626;
    border-radius: 10px;
    height: 100%;
    color: white;
    font-size: 16px;
    white-space: nowrap;
    padding: 15px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.kitchenBtn:hover {
    background-color: #484848;
}
.kitchenBtn svg {
    transform: scale(-1);
}
.kitchenBtn svg path {
    fill: white;
}
.popoverContent {
    width: auto !important;
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}
.popoverContent:focus-visible, .popoverBody:focus-visible {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
.popoverBody {
    width: auto !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 0 !important;
    padding: 0 !important;
    background-color: white !important;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15) !important;
}

@media screen and (max-width: 1300px) {
    .link {
        font-size: 13px;
    }
}
@media screen and (max-width: 1125px) {
    .categories {
        gap: 10px;
    }
}
@media screen and (max-width: 900px) {
    .container {
        padding: 10px 25px;
    }
}
