.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px 50px;
    margin-top: 10px;
    position: relative;
}
.catalogBtn {
    padding: 10px 20px;
    background-color: #E2E8CE;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.catalogBtn:hover {
    background-color: #ccd2b0;
}
.catalogBtnText {
    font-weight: 600;
    font-size: 20px;
    color: black;
}
.categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.link {
    font-weight: 500;
    font-size: 18px;
    background: #EBEBEB;
    padding: 5px 15px;
    border-radius: 28px;
    white-space: break-spaces;
    transition: all 0.3s ease;
}
.link:hover {
    background-color: #dedede;
}
.selectContainer {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 26px rgba(0,0,0,0.1);
    z-index: 9999;
}
.column {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
.column:first-child {
    background-color: #E2E8CE;
    border-bottom-left-radius: 10px;
}
.column:last-child {
    padding-top: 30px;
}
.catTitle {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.catTitle:hover {
    background-color: white;
}
.categoryImage {
    width: 75px;
    height: 50px;
    border-radius: 6px;
}
.subcategoryTitle {
    font-size: 20px;
    padding: 7px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
.subcategoryTitle:hover {
    color: #797979;
}

@media screen and (max-width: 1450px) {
    .link {
        font-size: 15px;
    }
}
@media screen and (max-width: 900px) {
    .container {
        padding: 10px 25px;
    }
}
