.filter {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    user-select: none;
}
.filter:hover span {
    color: black;
}
.filter:hover path {
    fill: black;
}
.filterIcon {
    width: 8px !important;
    height: 10px !important;
    cursor: pointer !important;
    opacity: 1 !important;
    transition: all 0.3s ease !important;
}
.filterIcon path {
    fill: rgb(160, 160, 160);
    transition: all 0.3s ease;
}
.text {
    color: #656565;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    user-select: none;
    transition: all 0.3s ease;
}
.filterText {
    cursor: pointer;
}
.list {
    position: absolute;
    top: 25px;
    right: 0;
    background-color: white;
    border: 1px solid #bebebe;
    border-radius: 10px;
    padding: 20px;
    z-index: 9;
    transition: all 0.3s ease; 
}
.furnishersList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.furnisherItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.furnisherTitle {
    white-space: nowrap;
}
.square {
    width: 20px;
    height: 20px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.square:hover {
    border-color: rgb(146, 146, 146);
}

@media screen and (max-width: 550px) {
    .furnishersList {
        padding: 10px;
        grid-gap: 15px;
    }
    .furnisherTitle {
        font-size: 14px;
    }
    .square {
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width: 460px) {
    .furnishersList {
        left: 0;
        right: auto;
    }
}
@media screen and (max-width: 400px) {
    .furnishersList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}