.alert {
    width: auto !important;
    position: fixed !important;
    bottom: 25px !important;
    left: 25px !important;
    border-radius: 6px !important;
}

@media screen and (max-width: 768px) {
    .alert {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .title {
        font-size: 14px;
    }
    .description {
        font-size: 14px;
    }
}
@media screen and (max-width: 485px) {
    .alert {
        width: 90% !important;
        left: 50% !important;
        transform: translateX(-50%);
      }
}