.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    flex-grow: 1;
    padding: 55px 40px;
}
.title {
    color: black;
    font-size: 46px;
    font-weight: 600;
}
.subtitle {
    color: #4B4B4B;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    text-transform: uppercase;
}
.texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    margin-left: 10px;
}
.text {
    color: #777777;
    font-size: 16px;
    font-weight: 500;
}
.link {
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.link:hover {
    color: rgb(110, 110, 110);
}
.orgInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.orgTitle {
    font-size: 18px;
    font-weight: 600;
    color: black;
    align-self: center;
    margin-bottom: 15px;
}
.downloadLink {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: 3px dashed green;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.downloadLink svg {
    z-index: 9999;
    transition: all 0.3s ease;
}
.downloadLink svg path {
    fill: green;
}
.downloadLink:hover svg {
    scale: 1.2;
}

@media screen and (max-width: 900px) {
    .content {
        padding: 55px 20px;
    }
}
@media screen and (max-width: 625px) {
    .title {
        font-size: 32px;
    }
    .subtitle {
        font-size: 14px;
    }
    .texts {
        gap: 15px;
    }
    .text {
        font-size: 13px;
    }
}
@media screen and (max-width: 480px) {
    .content {
        padding-top: 25px;
    }
    .content {
        gap: 25px;
    }
    .subtitle {
        margin: 0;
    }
    .texts {
        margin: 0;
    }
}
@media screen and (max-width: 440px) {
    .title {
        font-size: 20px;
    }
}