.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    flex-grow: 1;
    padding: 55px 40px;
}
.catalogTitle {
    font-weight: 600;
    font-size: 36px;
}
.itemsCount {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: black;
}
.image {
    width: 100%;
    height: 220px;
    border-radius: 12px;
    cursor: pointer;
}
.list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

@media screen and (max-width: 1350px) {
    .image {
        height: 175px;
    }
}
@media screen and (max-width: 1335px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1080px) {
    .image {
        height: 225px;
    }
}
@media screen and (max-width: 1080px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 900px) {
    .content {
        padding: 55px 20px;
    }
     .image {
            height: 175px;
    }
}
@media screen and (max-width: 750px) {
    .list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }
    .image {
        height: 225px;
    }
}
@media screen and (max-width: 590px) {
    .image {
        height: 175px;
    }
}
@media screen and (max-width: 535px) {
    .list {
        grid-template-columns: 1fr;
    }
    .image {
        height: 325px;
    }
}
@media screen and (max-width: 475px) {
    .image {
        height: 300px;
    }
}
@media screen and (max-width: 400px) {
    .itemsCount {
        font-size: 11px;
    }
    .image {
        height: 175px;
    }
}