.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.fullScreen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.catalogContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 0 40px 100px 40px;
    margin-top: 75px;
    position: relative;
}
.catalogTitle {
    font-weight: 600;
    font-size: 36px;
}
.linkBtn {
    width: 100%;
    padding: 0 40px;
    margin-top: 75px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkBtns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 0 20px;
    margin-top: 100px;
}
.link {
    background-color: #E2E8CE;
    border-radius: 12px;
    width: 50%;
    height: 100%;
    color: black;
    font-size: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.link:hover {
    background-color: #ccd2b0;
}

@media screen and (max-width: 1000px) {
    .fullScreen {
        min-height: auto;
    }
}
@media screen and (max-width: 900px) {
    .catalogContainer {
        padding: 0 20px 100px 20px;
    }
}
@media screen and (max-width: 600px) {
    .link {
        width: 250px;
        font-size: 17px;
    }
}
@media screen and (max-width: 550px) {
    .catalogTitle {
        font-size: 28px;
    }
}
@media screen and (max-width: 500px) {
    .catalogContainer {
        margin-top: 25px;
    }
}
@media screen and (max-width: 450px) {
    .linkBtns {
        gap: 15px;
    }
}
@media screen and (max-width: 410px) {
    .link {
        font-size: 14px;
    }
}
@media screen and (max-width: 400px) {
    .catalogTitle {
        font-size: 24px;
    }
}
@media screen and (max-width: 360px) {
    .link {
        font-size: 13px;
    }
}