.sliderContainer {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    position: relative;
    padding: 40px;
}
.slide {
    width: auto !important;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
}
.slide img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.slickSlider {
    height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.slickSlider ul {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    bottom: -50px;
}
.slickSlider ul li {
    height: auto;
}
.slickSlider ul li button {
    width: auto;
    height: auto;
}
.slickSlider ul li button::before {
    content: '';
    font-size: 14px;
    transition: all 0.3s;
    width: 35px;
    height: 5px;
    background-color: #ADBFA4;
    border-radius: 15px;
}
.slider {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 1175px) {
    .sliderContainer {
        gap: 10px;
    }
}
@media screen and (max-width: 1100px) {
    .sliderContainer {
        width: 100%;
        justify-content: space-between;
    }
    .slickSlider {
        height: 50%;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .slickSlider ul {
        bottom: -225px;
    }
}
@media screen and (max-width: 900px) {
    .sliderContainer {
        padding: 20px;
    }
    .slickSlider ul {
        bottom: -185px;
    }
}
/* @media screen and (max-width: 850px) {
    .slickSlider ul {
        bottom: -180px;
    }
} */
@media screen and (max-width: 768px) {
    .sliderContainer {
        flex-direction: column;
    }
    .slickSlider ul {
        bottom: -150px;
    }
}
@media screen and (max-width: 650px) {
    .slide {
        height: 220px;
    }
}
@media screen and (max-width: 500px) {
    .slide {
        height: 180px;
    }
    .slickSlider ul {
        bottom: -125px;
    }
}
@media screen and (max-width: 425px) {
    .slide {
        height: 160px;
    }
    .slickSlider ul {
        bottom: -110px;
    }
}
@media screen and (max-width: 375px) {
    .slide {
        height: 145px;
    }
}